.button {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 110px 40px 0 0;
  line-height: 60px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.button.-cart {
  width: 220px;
  font-weight: 300;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.button.-cart:hover {
  background-color: #fff;
  color: #e24647;
}

.button.-buy {
  font-weight: 500;
  background-color: #252c41;
}
.button.-buy:hover {
  background-color: #fff;
  color: #252c41;
}
