.button {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 80px 40px 0 0;
  line-height: 60px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.button.-cart {
  width: 220px;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.button.-buy {
  background-color: #252c41;
}
