.content-store {
  height: 65vh;
  text-align: end;
}

.box-headphone {
  width: 600px;
  height: 575px;
  border-radius: 0 150px 150px 0;
  background-color: #ffffff;
  position: absolute;
}
.img-phone {
  width: 550px;
  height: 550px;
  margin: 5% 0 0 15%;
}

.box-description {
  width: 550px;
  text-align: left;
  margin-left: 10%;
  display: inline-block;
}
.box-description .heart {
  position: absolute;
  right: 45%;
  top: 23%;
}
.box-description .heart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box-description .title {
  font-size: 25px;
  padding: 20px 0 55px 0;
}
.box-description .star-container {
  display: flex;
  width: 175px;
  justify-content: space-between;
  padding-bottom: 15px;
}
.box-description .star-rating:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box-description .item {
  padding: 0 0 30px;
}

.box-description .item.-info {
  width: 160px;
  text-align: right;
}

.box-description .contrast {
  text-transform: uppercase;
  float: left;
}
.box-description .text {
  padding-bottom: 60px;
  line-height: 30px;
}

.more {
  text-decoration: none;
  color: #ffffff;
}
