.content-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-headphone {
  flex: 0 1 600px;
  border-radius: 0 150px 150px 0;
  background-color: #ffffff;
}
.img-phone {
  width: 550px;
  height: 550px;
}

.box-description {
  flex: 0 1 auto;
  padding-left: 60px;
  box-sizing: border-box;
}
.box-description .heart {
  position: relative;
  top: 4rem;
  right: 3rem;
}
.box-description .heart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box-description .title {
  font-size: 25px;
  padding: 20px 0 55px 0;
}
.box-description .star-container {
  display: flex;
  width: 175px;
  justify-content: space-between;
  padding-bottom: 15px;
}
.box-description .star-rating:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box-description .item {
  padding: 0 0 30px;
}

.box-description .item.-info {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.box-description .contrast {
  text-transform: uppercase;
}
.box-description .text {
  max-width: 550px;
  padding-bottom: 60px;
  line-height: 30px;
}

.more {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 110px;
}

@media (max-width: 1210px) {
  .box-headphone {
    flex: 0 1 100%;
    border-radius: 0;
  }
  .box-headphone {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-description {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .box-description .heart {
    float: right;
    right: 1rem;
  }
  .item.-score {
    position: relative;
    bottom: 2rem;
  }
}
