.container-store {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ff2e63, #252a34);
}
.wrap {
  background-color: #e24647;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  width: 90%;
  margin: 5% auto 5% auto;
  box-shadow: 0 0 39px 0 rgba(50, 50, 50, 0.36);
}

.header-store {
  height: 15vh;
}

.header-logo {
  float: left;
  font-size: 40px;
  margin: 60px;
}
.navigation-store {
  float: right;
  font-size: 21px;
  margin: 60px;
}
.navigation-menu-store {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-left: 60px;
}
.content-store {
  height: 50vh;
  text-align: center;
}
.fone {
  font-size: 50px;
}
.footer-store {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  padding-right: 160px;
}
