.header-store {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-store .gueio {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: inherit;
  margin-left: 30px;
  box-shadow: 0 0 39px 3px rgba(50, 50, 50, 0.36);
}

.header-store .search {
  background: transparent;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin-left: 60%;
  cursor: pointer;
}
.header-store .search::placeholder {
  color: inherit;
  text-indent: inherit;
}

.header-logo {
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  float: left;
  font-size: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation-store {
  position: relative;
  float: right;
  font-size: 21px;
  margin: 60px;
}
.navigation-menu-store {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-left: 60px;
  position: inherit;
}

.navigation-menu-store::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.6, 0.04, 0.98, 0.34);
  transform-origin: center left;
}

.navigation-menu-store:hover::after {
  transform: scale(1);
}
