.header-store {
  height: 15vh;
}

.header-logo {
  float: left;
  font-size: 40px;
  margin: 60px;
  text-transform: uppercase;
}
.navigation-store {
  float: right;
  font-size: 21px;
  margin: 60px;
}
.navigation-menu-store {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-left: 60px;
}
