header {
  display: flex;
  background-color: #e24647;
}

h1,
a {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

h1 {
  flex: 1;
  font-size: 40px;
  margin: 45.5px 0 20px 62.4px;
}
nav {
  margin: 55px 60px 0 0;
}
a {
  flex: 1;
  font-size: 21px;
  text-decoration: none;
  margin: inherit;
}
